* {
    margin: 0;
    box-sizing: border-box !important;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

html,body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    word-spacing: 2px;
}

.lightRed {
    color:  hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, .1);
}

.orangeyYellow {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, .1);
}

.greenTeal {
    color: hsl(166, 100%, 37%);
    background-color:hsla(166, 100%, 37%, .1) ;
}

.cobaltblue {
    color: hsl(234, 85%, 45%);
   background-color: hsla(234, 85%, 45%, .1);
}

.paleBlue {
    color: hsl(221, 100%, 96%);
}


header, .summary {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
}


.bold{
    font-weight: 800;
}

header {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    row-gap: 30px;
    border-radius: 0 0 30px 30px;
    align-items: center;
}

h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.2;
}

h1, h2 {
    color: white;
}

h2{
    font-weight: 600;
    margin-bottom: 10px;
}

h3{
    font-size: 2.3rem;
    color: hsl(224, 30%, 27%)
}

h4{
    line-height:fit-content;
}

.app-container{
    display: flex;
    flex-direction: column;;
}

.circle{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.summary{
    height: auto;
    row-gap: 30px;
    font-weight: 700;
}

.summary .row {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.summary li .name{
    display: flex;
    align-content: center;
    column-gap: 10px;
}

.stats .numbers{
    :first-child{
        color: black;
    }
    :last-child{
        color: hsl(228, 34%, 66%);
    }

}

img {
    height: 30px;
    width: auto;
}

ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    row-gap: 20px;
}

ul li{
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    line-height: 30px;
    font-weight: 800;
}

button {
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: 800;
    
    &:hover, &:focus{
        cursor: pointer;
        background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 1));
    }
}
p{
    width: 90%;
    margin: auto;
}

.result{
    font-size: 2.2rem;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    display: block;
}

footer a {
    color: white;
    text-decoration: underline;
}

@media only screen and (min-width: 600px){
    .app-container{
        height: 100vh;
    }
    .content {
        -webkit-box-shadow: 5px 4px 30px 1px hsl(221, 100%, 96%);
        -moz-box-shadow: 5px 4px 30px 1px hsl(221, 100%, 96%);
        box-shadow: 5px 4px 30px 1px hsl(221, 100%, 96%);
        display: flex;
        height: 70%;
        width: 90%;
        max-width: 750px;
        max-height: 530px;
        align-items: center;
        margin: auto;
        column-gap: 20px;
    }
    .content, header {
        border-radius:35px;

    }

    header {
        height: 100%;
    }
    header, .summary {
        flex: 1;
    }
}